<div class="page-footer">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
        </div>
    </div>
</div>



<!--[if IE 8]>

<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

<![endif]-->

<!-- MAIN APP JS FILE -->
<script src="smartadmin/js/app.min.js"></script>
<!-- IMPORTANT: APP CONFIG -->
<script src="smartadmin/js/app.config.js"></script>
<script type="text/javascript">
    // DO NOT REMOVE : GLOBAL FUNCTIONS!
    $(document).ready(function() {
        pageSetUp();

    })

</script>