<!DOCTYPE html>
<html lang="en-us" ng-app="app">

<head>
    <% include partials/head %>
</head>

<body class="">
    <% include partials/header %>
        <div id="main" role="main">

            <!-- RIBBON -->
            <div id="ribbon">

                <!-- breadcrumb -->
                <ol class="breadcrumb">
                    <li>Status</li>
                    <li>Gráfico</li>
                </ol>
            </div>
            <div id="content">
                <div class="row">
                    <article class="col-sm-12 col-md-12 col-lg-12">
                        <div>

                            <div class="jarviswidget-editbox">
                            </div>
                            <div class="widget-body">
                                <ng-view></ng-view>
                            </div>
                        </div>
                    </article>
                </div>
                <script type="text/ng-template" id="/chart2.html">
                    <button type="submit" class="btn btn-primary pull-right" style="margin-left:5px;" ng-click="chart(3)">Tensão</button>
                    <button type="submit" class="btn btn-primary pull-right" style="margin-left:5px;" ng-click="chart(2)">Temperatura</button>
                    <button type="submit" class="btn btn-primary pull-right" ng-click="chart(1)">Impedância</button>
                    <header>
                        <h3 id="headerVisao">Impedância</h3>

                    </header>
                    <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" ng-repeat="string in stringsDistintas">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                            <h2 id="headerGrafico_{{string}}"></h2>

                        </header>

                        <!-- widget div-->
                        <div>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->

                            </div>
                            <!-- end widget edit box -->

                            <!-- widget content -->
                            <div class="widget-body no-padding">

                                <div id="bar-chart_{{string}}" style="height:500px;" class="chart"></div>

                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>
                </script>
                <script>
                    angular.module('app', ['ngRoute', 'ngResource'])
                        //---------------
                        // Services
                        //---------------
                        .factory('StatusModulos', ['$resource', function ($resource) {
                            return $resource('/statusmodulo/:id', null, {
                                'update': { method: 'PUT' },
                                'query': {
                                    isArray: true,
                                    method: 'GET'
                                }
                            });
                        }])
                        //---------------
                        // Controllers
                        //---------------
                        .controller('Chart2Controller', ['$scope', 'StatusModulos', function ($scope, StatusModulos) {
                            $scope.charts = StatusModulos.query(function (res) {
                                var flags = [], output = [], l = res.length, i;
                                for (i = 0; i < l; i++) {
                                    if (flags[res[i].string]) continue;
                                    flags[res[i].string] = true;
                                    output.push(res[i].string);
                                }
                                $scope.stringsDistintas = output;
                                setTimeout(function () { chart(res, 1, output); }, 500);
                            }, function (error) {

                            });
                            $scope.chart = function (index) {
                                $scope.index = index;
                                chart($scope.charts, index == undefined ? 1 : index, $scope.stringsDistintas);
                            }
                        }])
                        //---------------
                        // Routes
                        //---------------
                        .config(['$routeProvider', function ($routeProvider) {
                            $routeProvider
                                .when('/', {
                                    templateUrl: '/chart2.html',
                                    controller: 'Chart2Controller'
                                })
                        }]);
                </script>

            </div>
            <!-- END MAIN CONTENT -->

        </div>
        <script type="text/javascript">
            /* chart colors default */
            var $chrt_border_color = "#efefef";
            var $chrt_grid_color = "#DDD"
            var $chrt_main = "#E24913";
            /* red       */
            var $chrt_second = "#6595b4";
            /* blue      */
            var $chrt_third = "#FF9F01";
            /* orange    */
            var $chrt_fourth = "#7e9d3a";
            /* green     */
            var $chrt_fifth = "#BD362F";
            /* dark red  */
            var $chrt_mono = "#000";
            function chart(data, index, strings) {
                var visao = index;
                if (visao == 1) {
                    $("#headerVisao").text("Impedância");
                    strings.forEach(function (string) {
                        if ($("#bar-chart_" + string).length) {
                            $("#headerGrafico_" + string).text("String: " + string);
                            var data1 = [];
                            var maxVal = [];
                            var minVal = [];
                            var labels1 = [];
                            var conta = 0;
                            data.forEach(function (element) {
                                if (element.string == string) {
                                    data1.push([conta, parseFloat(element.impedancia)]);
                                    maxVal.push([conta, parseFloat(element.max_imp)]);
                                    minVal.push([conta, parseFloat(element.min_imp)]);
                                    labels1.push([conta, element.bateria]);
                                    conta++;
                                }
                            }, this);
                            var dataDS = [
                                {
                                    data: data1,
                                    color: '#409628',
                                    label: 'Impedância',
                                    bars: { show: true, align: 'center', barWidth: 0.5 }
                                },
                                {
                                    data: maxVal,
                                    color: '#e70000',
                                    label: 'Tensão',
                                    lines: { show: true, align: 'center', barWidth: 0.5 }
                                },
                                {
                                    data: minVal,
                                    color: '#e70000',
                                    label: 'Tensão',
                                    lines: { show: true, align: 'center', barWidth: 0.5 }
                                }
                            ];
                            var options = {
                                xaxis: { ticks: labels1 },
                                grid: {
                                    show: true,
                                    hoverable: true,
                                    clickable: true,
                                    tickColor: $chrt_border_color,
                                    borderWidth: 0,
                                    borderColor: $chrt_border_color,
                                },
                                legend: true,
                                tooltip: true,
                                tooltipOpts: {
                                    content: "<b>Impedância</b> = <span> %y.1</span>"
                                }
                            };
                            $.plot($("#bar-chart_" + string), dataDS, options);
                        }
                    }, this);

                }
                else if (visao == 2) {
                    $("#headerVisao").text("Temperatura");
                    strings.forEach(function (string) {
                        if ($("#bar-chart_" + string).length) {
                            $("#headerGrafico_" + string).text("String: " + string);
                            var data1 = [];
                            var maxVal = [];
                            var minVal = [];
                            var labels1 = [];
                            var conta = 0;
                            data.forEach(function (element) {
                                if (element.string == string) {
                                    data1.push([conta, parseFloat(element.temperatura)]);
                                    maxVal.push([conta, parseFloat(element.max_temp)]);
                                    minVal.push([conta, parseFloat(element.min_temp)]);
                                    labels1.push([conta, element.bateria]);
                                    conta++;
                                }
                            }, this);
                            var dataDS = [
                                {
                                    data: data1,
                                    color: '#409628',
                                    label: 'Temperatura',
                                    bars: { show: true, align: 'center', barWidth: 0.5 }
                                },
                                {
                                    data: maxVal,
                                    color: '#e70000',
                                    label: 'Tensão',
                                    lines: { show: true, align: 'center', barWidth: 0.5 }
                                },
                                {
                                    data: minVal,
                                    color: '#e70000',
                                    label: 'Tensão',
                                    lines: { show: true, align: 'center', barWidth: 0.5 }
                                }
                            ];
                            var options = {
                                xaxis: { ticks: labels1 },
                                grid: {
                                    show: true,
                                    hoverable: true,
                                    clickable: true,
                                    tickColor: $chrt_border_color,
                                    borderWidth: 0,
                                    borderColor: $chrt_border_color,
                                },
                                legend: true,
                                tooltip: true,
                                tooltipOpts: {
                                    content: "<b>Temperatura</b> = <span>%y.1</span>",
                                    defaultTheme: false
                                }
                            };
                            $.plot($("#bar-chart_" + string), dataDS, options);
                        }
                    }, this);
                } else if (visao == 3) {
                    $("#headerVisao").text("Tensão");
                    strings.forEach(function (string) {
                        if ($("#bar-chart_" + string).length) {
                            $("#headerGrafico_" + string).text("String: " + string);
                            var data1 = [];
                            var maxVal = [];
                            var minVal = [];
                            var labels1 = [];
                            var conta = 0;
                            data.forEach(function (element) {
                                if (element.string == string) {
                                    data1.push([conta, parseFloat(element.tensao)]);
                                    maxVal.push([conta, parseFloat(element.max_tensao)]);
                                    minVal.push([conta, parseFloat(element.min_tensao)]);
                                    labels1.push([conta, element.bateria]);
                                    conta++;
                                }
                            }, this);
                            var dataDS = [
                                {
                                    data: data1,
                                    color: '#409628',
                                    label: 'Tensão',
                                    bars: { show: true, align: 'center', barWidth: 0.5 }
                                },
                                {
                                    data: maxVal,
                                    color: '#e70000',
                                    label: 'Tensão',
                                    lines: { show: true, align: 'center', barWidth: 0.5 }
                                },
                                {
                                    data: minVal,
                                    color: '#e70000',
                                    label: 'Tensão',
                                    lines: { show: true, align: 'center', barWidth: 0.5 }
                                }
                            ];
                            var options = {
                                xaxis: { ticks: labels1 },
                                grid: {
                                    show: true,
                                    hoverable: true,
                                    clickable: true,
                                    tickColor: $chrt_border_color,
                                    borderWidth: 0,
                                    borderColor: $chrt_border_color,
                                },
                                legend: true,
                                tooltip: true,
                                tooltipOpts: {
                                    content: "<b>Tensão</b> = <span>%y.3</span>",
                                    defaultTheme: false
                                }
                            };
                            $.plot($("#bar-chart_" + string), dataDS, options);
                        }
                    }, this);
                }
            }
        </script>
        <% include partials/footer %>
</body>

</html>