<!DOCTYPE html>
<html lang="en-us">

<head>
    <% include partials/head %>
        <style>
            div.container4 {
                margin: 0;
                position: absolute;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%)
            }
        </style>
</head>

<body class="">
    <% include partials/header %>
        <div id="main" role="main">

            <!-- RIBBON -->
            <div id="ribbon">

                <!-- breadcrumb -->
                <ol class="breadcrumb">
                    <li>Status</li>
                    <li>Gráfico</li>
                </ol>
            </div>
            <div id="content">
                <div class="row">
                    <article class="col-sm-12 col-md-12 col-lg-12">
                        <div>

                            <div class="jarviswidget-editbox">
                            </div>
                            <div class="widget-body">
                                <button type="button" class="btn btn-primary pull-right" style="margin-left:5px;" onclick="setVisao(3);">Tensão</button>
                                <button type="button" class="btn btn-primary pull-right" style="margin-left:5px;" onclick="setVisao(2);">Temperatura</button>
                                <button type="button" class="btn btn-primary pull-right" onclick="setVisao(1);">Impedância</button>
                                <label>String:</label>
                                <select id="ddlStrings">
                                </select> &nbsp&nbsp&nbsp&nbsp&nbsp
                                <label>Período:</label>
                                <input type="text" name="txtDateStart" style="width: 100px;" id="txtDateStart" readonly placeholder="Data Início" required class="datepicker" data-dateformat='dd/mm/yy'>
                                <input type="text" name="txtHourStart" style="width: 80px;" value="00:00" id="txtHourStart" readonly placeholder="Hora Início" required>
                                <label> a </label>
                                <input type="text" name="txtDateStart" style="width: 100px;" id="txtDateEnd" readonly placeholder="Data Fim" required class="datepicker" data-dateformat='dd/mm/yy'>
                                <input type="text" name="txtHourEnd" style="width: 80px;" value="23:59" id="txtHourEnd" readonly placeholder="Hora Fim" required>
                                &nbsp
                                <button type="button" class="btn btn-primary" onclick="pesquisar();">Pesquisar</button>
                                <button type="button" class="btn btn-primary" onclick="gerarCSV();">CSV</button>
                                <br />
                                <br />
                                <div class="jarviswidget" id="wid-id-0">
                                    <header>
                                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                                    </header>
                                    <div>
                                        <div class="jarviswidget-editbox">
                                            <input class="form-control" type="text">
                                        </div>
                                        <td valign="top">
                                            <div id="labels" class=container4></div>
                                            <br />
                                            <br />
                                        </td>
                                        <div class="widget-body">
                                            <div id="noroll" style="height:500px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            var visao = 1;
            var nBaterias = 0;
            var csvData = "";
            function setVisao(data) {
                visao = data;
                getData();
            }
            function getStrings() {
                $.get("/modulo", "", function (data, status) {
                    var n_strings = parseInt(data[0].n_strings);
                    nBaterias = parseInt(data[0].n_baterias_por_strings);
                    for (var i = 1; i <= n_strings; i++) {
                        $('#ddlStrings').append($('<option>', {
                            value: 'S' + i.toString(),
                            text: 'S' + i.toString()
                        }));
                    }
                });
            }
            function getData() {
                if (visao == 1) {
                    $.get("/chart/" + nBaterias + "/" + $("#ddlStrings").val() + "/" + $("#txtDateStart").val().replace("/", "-").replace("/", "-").replace("/", "-") + " " + $("#txtHourStart").val() + "/" + $("#txtDateEnd").val().replace("/", "-").replace("/", "-").replace("/", "-")  + " " + $("#txtHourEnd").val() + "/" + visao, "", function (data, status) {
                        csvData = data;
                        g1 = new Dygraph(document.getElementById("noroll"), data, {
                            title: 'Impedância',
                            ylabel: 'Impedância',
                            legend: 'always',
                            labelsDiv: document.getElementById("labels"),
                            highlightCircleSize: 2,
                            strokeWidth: 1,
                            strokeBorderWidth: 1,

                            highlightSeriesOpts: {
                                strokeWidth: 3,
                                strokeBorderWidth: 1,
                                highlightCircleSize: 5
                            },
                            showRangeSelector: true
                        });
                    });
                }
                else if (visao == 2) {
                    $.get("/chart/" + nBaterias + "/" + $("#ddlStrings").val() + "/" + $("#txtDateStart").val().replace("/", "-").replace("/", "-").replace("/", "-") + " " + $("#txtHourStart").val() + "/" + $("#txtDateEnd").val().replace("/", "-").replace("/", "-").replace("/", "-")  + " " + $("#txtHourEnd").val() + "/" + visao, "", function (data, status) {
                        csvData = data;
                        g1 = new Dygraph(document.getElementById("noroll"), data, {
                            title: 'Temperatura',
                            ylabel: 'Temperatura',
                            legend: 'always',
                            labelsDiv: document.getElementById("labels"),
                            highlightCircleSize: 2,
                            strokeWidth: 1,
                            strokeBorderWidth: 1,

                            highlightSeriesOpts: {
                                strokeWidth: 3,
                                strokeBorderWidth: 1,
                                highlightCircleSize: 5
                            },
                            showRangeSelector: true
                        });
                    });
                }
                else if (visao == 3) {
                    $.get("/chart/" + nBaterias + "/" + $("#ddlStrings").val() + "/" + $("#txtDateStart").val().replace("/", "-").replace("/", "-").replace("/", "-") + " " + $("#txtHourStart").val() + "/" + $("#txtDateEnd").val().replace("/", "-").replace("/", "-").replace("/", "-")  + " " + $("#txtHourEnd").val() + "/" + visao, "", function (data, status) {
                        csvData = data;
                        g1 = new Dygraph(document.getElementById("noroll"), data, {
                            title: 'Tensão',
                            ylabel: 'Tensão(V)',
                            legend: 'always',
                            labelsDiv: document.getElementById("labels"),
                            series: {
                                'Tensão de Barramento': {
                                    axis: 'y2'
                                },
                            },
                            axes: {
                                y: {
                                    axisLabelWidth: 100
                                },
                                y2: {
                                    // set axis-related properties here
                                    labelsKMB: true,
                                    axisLineColor: "#DD1124"
                                }
                            },
                            highlightCircleSize: 2,
                            strokeWidth: 1,
                            strokeBorderWidth: 1,

                            highlightSeriesOpts: {
                                strokeWidth: 3,
                                strokeBorderWidth: 1,
                                highlightCircleSize: 5
                            },
                            showRangeSelector: true
                        });
                    });
                }
            }
            function pesquisar() {
                if ($("#txtDateStart").val().toString().trim() != "" && $("#txtDateEnd").val().toString().trim() != "") {
                    getData();
                } else {
                    g1 = new Dygraph(document.getElementById("noroll"), null, {
                        title: 'Tensão',
                        ylabel: 'Tensão(V)',
                        legend: 'always',
                        labelsDivStyles: {
                            'textAlign': 'right'
                        },
                        showRangeSelector: true
                    });
                }
            }
            function gerarCSV() {
                var filename = "";
                switch (visao) {
                    case 1:
                        filename = "relatorio_impedancia.csv";
                        break;
                    case 2:
                        filename = "relatorio_temperatura.csv";
                        break;
                    case 3:
                        filename = "relatorio_tensao.csv";
                        break;
                    default:
                        filename = "relatorio.csv";
                        break;
                }
                var a = document.createElement('a');
                a.href = 'data:attachment/csv,' + encodeURIComponent(csvData.replaceAll(",", ";"));
                a.target = '_blank';
                a.download = filename;

                document.body.appendChild(a);
                a.click();
            }
            $(function () {
                getStrings();
                $('#txtHourStart').clockpicker({
                    placement: 'bottom',
                    donetext: 'Done'
                });
                $('#txtHourEnd').clockpicker({
                    placement: 'bottom',
                    donetext: 'Done'
                });
            });
            String.prototype.replaceAll = function (search, replacement) {
                var target = this;
                return target.replace(new RegExp(search, 'g'), replacement);
            };
        </script>
        <% include partials/footer %>
</body>

</html>