<!DOCTYPE html>
<html lang="en-us" ng-app="app">

<head>
    <% include partials/head %>
</head>

<body class="">
    <% include partials/header %>
        <div id="main" role="main">

            <!-- RIBBON -->
            <div id="ribbon">

                <!-- breadcrumb -->
                <ol class="breadcrumb">
                    <li>Logfiles</li>
                    <li>DataLog</li>
                </ol>
            </div>
            <div id="content">
                <div class="row">
                    <article class="col-sm-12 col-md-12 col-lg-12">

                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false">
                            <header>
                                <span class="widget-icon"><i class="fa fa-edit"></i></span>
                                <h2>DataLog </h2>

                            </header>
                            <div>
                                <div class="jarviswidget-editbox">
                                </div>
                                <div class="widget-body">
                                        <ng-view></ng-view>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <script type="text/ng-template" id="/modulo.html">
                    <div class="table-responsive">
                        <table id="datatable_tabletools" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <td>Data</td>
                                    <td>String</td>
                                    <td>Bateria</td>
                                    <td>Tensão</td>
                                    <td>Impedância</td>
                                    <td>Temperatura</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="dataLog in dataLogs" ng-class="rowClass(dataLog)" on-finish-render="ngRepeatFinished">
                                    <td>{{ dataLog.dataHora | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                                    <td>{{ dataLog.string }}</td>
                                    <td>{{ dataLog.bateria }}</td>
                                    <td>{{ dataLog.tensao }}</td>
                                    <td>{{ dataLog.impedancia }}</td>
                                    <td>{{ dataLog.temperatura }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </script>
                <script>
                    angular.module('app', ['ngRoute', 'ngResource'])
                        //---------------
                        // Services
                        //---------------
                        .factory('DataLogs', ['$resource', function ($resource) {
                            return $resource('/dataLog/:id', null, {
                                'update': { method: 'PUT' },
                                'remove': {method: 'DELETE' }
                            });
                        }])
                        //---------------
                        // Controllers
                        //---------------
                        .controller('ModuloController', ['$scope', 'DataLogs', function ($scope, DataLogs) {
                            $scope.dataLogs = DataLogs.query();
                            $scope.nomeUsuario = '<%= username %>';
                            $scope.acessoUsuario = '<%= userAccess %>';
                            $scope.emailUsuario = '<%= userEmail %>';
                        }])
                        .directive('onFinishRender', function ($timeout) {
                            return {
                                restrict: 'A',
                                link: function (scope, element, attr) {
                                    if (scope.$last === true) {
                                        $timeout(function () {
                                            setDataTable();
                                        });
                                    }
                                }
                            }
                        })
                        //---------------
                        // Routes
                        //---------------
                        .config(['$routeProvider', function ($routeProvider) {
                            $routeProvider
                                .when('/', {
                                    templateUrl: '/modulo.html',
                                    controller: 'ModuloController'
                                })
                        }]);
                </script>

            </div>
            <!-- END MAIN CONTENT -->

        </div>
        <script>
            function setDataTable(){
                $("#datatable_tabletools").dataTable({

                    // Tabletools options:
                    //   https://datatables.net/extensions/tabletools/button_options
                    "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'T>r>"+
                    "t"+
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                    "oLanguage": {
                        "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
                    },
                    "oTableTools": {
                        "aButtons": [
                            "copy",
                            "csv",
                            "xls",
                            {
                                "sExtends": "pdf",
                                "sTitle": "SmartAdmin_PDF",
                                "sPdfMessage": "SmartAdmin PDF Export",
                                "sPdfSize": "letter"
                            },
                            {
                                "sExtends": "print"
                            }
                        ],
                        "sSwfPath": "smartadmin/js/plugin/datatables/swf/copy_csv_xls_pdf.swf"
                    },
                    "autoWidth" : true,
                    "order": [[ 0, "desc" ]]
                });
            }
        
        </script>
        <% include partials/footer %>
</body>

</html>