<!DOCTYPE html>
<html lang="en-us" ng-app="app">

<head>
    <% include partials/head %>
</head>

<body class="">
    <% include partials/header %>
        <div id="main" role="main">

            <div id="ribbon">
                <ol class="breadcrumb">
                    <li>Configuração</li>
                    <li>EmailServer</li>
                </ol>
            </div>
            <div id="content">
                <div class="row">
                    <article class="col-sm-12 col-md-12 col-lg-12">

                        <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false">
                            <header>
                                <span class="widget-icon"><i class="fa fa-edit"></i></span>
                                <h2>Configuração de EmailServer </h2>
                            </header>
                            <div>
                                <div class="jarviswidget-editbox">
                                </div>
                                <div class="widget-body no-padding">
                                    <form id="smart-form-register" class="smart-form">

                                        <ng-view></ng-view>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </article>

                </div>
                <script type="text/ng-template" id="/emailserver.html">
                    <fieldset>
                        <section class="col-sm-12 col-md-12 col-lg-12">
                            <fieldset>
                                <section class="col-sm-12 col-md-12 col-lg-12">
                                    <section class="col-sm-5 col-md-5 col-lg-5">
                                        <label class="label">Servidor de email</label>
                                        <label class="input">
                                        <input type="text" ng-model="emailserver[0].server" ng-disabled="acessoUsuario != 'administrador'" placeholder="Servidor de email" />
                                        <b class="tooltip tooltip-bottom-right">Servidor de email</b>
                                        </label>
                                    </section>
                                    <section class="col-sm-2 col-md-2 col-lg-2">
                                    </section>
                                    <section class="col-sm-5 col-md-5 col-lg-5">
                                        <label class="checkbox">
                                        <input type="checkbox" ng-model="emailserver[0].usarAutenticacao" ng-disabled="acessoUsuario != 'administrador'" />
                                        <i></i>Secure Password Authentication (SPA)</label>
                                    </section>
                                </section>
                                <section class="col-sm-12 col-md-12 col-lg-12">
                                    <section class="col-sm-5 col-md-5 col-lg-5">
                                        <label class="label">Porta SMTP</label>
                                        <label class="input">
                                        <input type="number" ng-model="emailserver[0].portaSMTP" ng-disabled="acessoUsuario != 'administrador'" placeholder="Porta SMTP" />
                                        <b class="tooltip tooltip-bottom-right">Porta SMTP</b>
                                        </label>
                                    </section>
                                    <section class="col-sm-2 col-md-2 col-lg-2">
                                    </section>
                                    <section class="col-sm-5 col-md-5 col-lg-5">
                                        <label class="label">Login</label>
                                        <label class="input">
                                        <input type="text" ng-model="emailserver[0].login" ng-disabled="acessoUsuario != 'administrador'" placeholder="Login" />
                                        <b class="tooltip tooltip-bottom-right">Login</b>
                                        </label>
                                    </section>
                                </section>
                                <section class="col-sm-12 col-md-12 col-lg-12">
                                    <section class="col-sm-5 col-md-5 col-lg-5">
                                        <label class="label">Usar Criptografica TLS</label>
                                        <label class="select">
                                        <select name="criptoTLS" id="criptoTLS" ng-model="emailserver[0].usarCriptografiaTLS" ng-disabled="acessoUsuario != 'administrador'" >
                                            <option value="0" ng-selected="selected">Nenhum</option>
                                            <option value="1">TLS</option>
                                            <option value="2">SSL</option>
                                        </select>
                                        <i></i>
                                    </label>
                                    </section>
                                    <section class="col-sm-2 col-md-2 col-lg-2">
                                    </section>
                                    <section class="col-sm-5 col-md-5 col-lg-5">
                                        <label class="label">Senha</label>
                                        <label class="input">
                                        <input type="password" name="password" id="password" ng-model="emailserver[0].senha" ng-disabled="acessoUsuario != 'administrador'" placeholder="Senha" />
                                        <b class="tooltip tooltip-bottom-right">Senha</b>
                                        </label>
                                    </section>
                                </section>
                                <section class="col-sm-12 col-md-12 col-lg-12">
                                    <section class="col-sm-5 col-md-5 col-lg-5">
                                        <label class="label">Email</label>
                                        <label class="input">
                                        <input type="email" name="email" id="email" ng-model="emailserver[0].email" ng-disabled="acessoUsuario != 'administrador'" placeholder="Email" />
                                        <b class="tooltip tooltip-bottom-right">Email</b>
                                        </label>
                                    </section>
                                    <section class="col-sm-2 col-md-2 col-lg-2">
                                    </section>
                                    <section class="col-sm-5 col-md-5 col-lg-5">
                                        <label class="label">Confirmar Senha</label>
                                        <label class="input">
                                        <input type="password" name="passwordConfirm" id="passwordConfirm" ng-disabled="acessoUsuario != 'administrador'" placeholder="Confirmar Senha" />
                                        <b class="tooltip tooltip-bottom-right">Confirmar Senha</b>
                                        </label>
                                    </section>
                                </section>
                                <section class="col-sm-5 col-md-5 col-lg-5">
                                    <label class="label">Assunto</label>
                                    <label class="input">
                                        <input type="text" ng-model="emailserver[0].assunto" ng-disabled="acessoUsuario != 'administrador'" placeholder="Assunto" />
                                        <b class="tooltip tooltip-bottom-right">Assunto</b>
                                        </label>
                                </section>
                            </fieldset>
                        </section>
                        <section>
                            <button ng-click="update()" class="btn btn-primary pull-right" ng-disabled="acessoUsuario != 'administrador'" style="width: 100px; height: 30px;">Salvar</button>
                        </section>
                    </fieldset>

                </script>
                <script>
                    angular.module('app', ['ngRoute', 'ngResource'])
                        //---------------
                        // Services
                        //---------------
                        .factory('EmailServer', ['$resource', function ($resource) {
                            return $resource('/emailserver/:id', null, {
                                'update': { method: 'PUT' }
                            });
                        }])
                        //---------------
                        // Controllers
                        //---------------
                        .controller('EmailServerController', ['$scope', 'EmailServer', function ($scope, EmailServer) {
                            $scope.serverDate = new Date();
                            $scope.emailserver = EmailServer.query();
                            $scope.update = function () {
                                if ($("#password").val() != $("#passwordConfirm").val() || (!isEmail($("#email").val())))
                                    return;
                                var emailserver = $scope.emailserver[0];
                                EmailServer.update(emailserver);
                                $.bigBox({
                                    title: "EmailServer",
                                    content: "Dados salvos com sucesso!",
                                    color: "#275B89",
                                    timeout: 5000,
                                    icon: "fa fa-check fadeInLeft animated",
                                    number: emailserver._id
                                });
                            }
                            $scope.nomeUsuario = '<%= username %>';
                            $scope.acessoUsuario = '<%= userAccess %>';
                            $scope.emailUsuario = '<%= userEmail %>';
                        }])
                        //---------------
                        // Routes
                        //---------------
                        .config(['$routeProvider', function ($routeProvider) {
                            $routeProvider
                                .when('/', {
                                    templateUrl: '/emailserver.html',
                                    controller: 'EmailServerController'
                                })
                        }]);
                </script>

            </div>
            <!-- END MAIN CONTENT -->

        </div>
        <script>
            function isEmail(email) {
                var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                return regex.test(email);
            }
            $(document).ready(function () {
                var errorClass = 'invalid';
                var errorElement = 'em';
                var $registerForm = $("#smart-form-register").validate({
                    errorClass: errorClass,
                    errorElement: errorElement,
                    highlight: function (element) {
                        $(element).parent().removeClass('state-success').addClass("state-error");
                        $(element).removeClass('valid');
                    },
                    unhighlight: function (element) {
                        $(element).parent().removeClass("state-error").addClass('state-success');
                        $(element).addClass('valid');
                    },

                    // Rules for form validation
                    rules: {
                        email: {
                            required: true,
                            email: true
                        },
                        passwordConfirm: {
                            required: true,
                            minlength: 3,
                            maxlength: 20,
                            equalTo: '#password'
                        }
                    },

                    // Messages for form validation
                    messages: {
                        email: {
                            required: 'Preencha com um e-mail válido',
                            email: 'Preencha com um e-mail válido'
                        },
                        passwordConfirm: {
                            required: 'Confirme a senha',
                            equalTo: 'A confirmação deve ser igual a senha'
                        }
                    },

                    // Do not change code below
                    errorPlacement: function (error, element) {
                        error.insertAfter(element.parent());
                    }
                });
            });
        </script>
        <% include partials/footer %>
</body>

</html>