<!DOCTYPE html>
<html lang="en-us">

<head>
    <% include partials/head %>
</head>

<body class="">
    <% include partials/header %>
        <div id="main" role="main">

            <!-- RIBBON -->
            <div id="ribbon">

                <!-- breadcrumb -->
                <ol class="breadcrumb">
                    <li>Status</li>
                    <li>Live Feed</li>
                </ol>
            </div>
            <div id="content">
                <div class="row">
                    <article class="col-sm-12 col-md-12 col-lg-12">
                        <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false">
                            <header>
                                <span class="widget-icon"><i class="fa fa-bar-chart-o"></i></span>
                                <h2>Live Feed</h2>
                            </header>
                            <div>
                                <div class="widget-body">
                                    <div class="row no-space">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div id="updating-chart" class="chart-large txt-color-blue" style="height: 500px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="show-stat-microcharts">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                    <div id="smartChart" class="easy-pie-chart txt-color-orangeDark" data-percent="100" data-pie-size="50">
                                        <span class="percent"></span>
                                    </div>
                                    <span class="easy-pie-title"> Descargas </span>
                                    <div id="smartChart2" class="easy-pie-chart txt-color-orangeDark" data-percent="0" data-pie-size="50">
                                        <span class="percent percent-sign"></span>
                                    </div>
                                    <span class="easy-pie-title"> % Bateria </span>
                                    <div style="float:right;">
                                        <div id="smartChart3" class="easy-pie-chart txt-color-orangeDark" data-percent="16" data-pie-size="50">
                                            <span class="percent"></span>
                                        </div>
                                        <span class="easy-pie-title"> Target </span>
                                        <div id="smartChart4" class="easy-pie-chart txt-color-orangeDark" data-percent="12" data-pie-size="50">
                                            <span class="percent"></span>
                                        </div>
                                        <span class="easy-pie-title"> Tensão de barramento </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <!-- END MAIN CONTENT -->

        </div>
        <script>

        </script>
        <script type="text/javascript">
            var $on = true;
            $(document).ready(function () {
                update();
            });
            function update() {
                if ($on == true) {

                    plot.setData([getRandomData()]);
                    plot.draw();
                    setTimeout(update, updateInterval);

                } else {
                    clearInterval(updateInterval)
                }

            }
            var data = [], totalPoints = 200, $UpdatingChartColors = $("#updating-chart").css('color');
            var qtdQueda = 0;
            var percentualCarga = 0;
            var primeiraLeitura = 0;

            function getRandomData() {
                if (data.length > 0)
                    data = data.slice(1);
                getSoma(function (soma) {
                    if (soma > plot.getAxes().yaxis.options.max) {
                        plot.getAxes().yaxis.options.max = soma + (soma * 1.30);
                        plot.setupGrid();
                        plot.draw();
                    }
                    if (primeiraLeitura == 0)
                        primeiraLeitura = data[0];
                    while (data.length < totalPoints) {
                        if (data.length > 0) {
                            if (soma < data[data.length - 1])
                                qtdQueda++;
                            percentualCarga = soma / data[0] * 100;
                            $('#smartChart').data('easyPieChart').update(
                                qtdQueda
                            );
                            $('#smartChart2').data('easyPieChart').update(
                                percentualCarga > 100 ? 100 : percentualCarga
                            );
                        }
                        data.push(soma);
                    }
                });

                // zip the generated y values with the x values
                var res = [];
                for (var i = 0; i < data.length; ++i)
                    res.push([i, data[i]])
                return res;
            }
            // setup control widget
            var updateInterval = 1500;
            $("#updating-chart").val(updateInterval).change(function () {

                var v = $(this).val();
                if (v && !isNaN(+v)) {
                    updateInterval = +v;
                    $(this).val("" + updateInterval);
                }

            });

            // setup plot
            var options = {
                yaxis: {
                    min: 0,
                    max: 0
                },
                xaxis: {
                    min: 0,
                    max: 200
                },
                colors: [$UpdatingChartColors],
                series: {
                    lines: {
                        lineWidth: 2,
                        fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 0.2
                            }, {
                                opacity: 0
                            }]
                        },
                        steps: false

                    }
                }
            };

            var plot = $.plot($("#updating-chart"), [getRandomData()], options);

            function getSoma(soma) {
                $.get("/livefeed", "", function (data, status) {
                    soma(data.somaTensao);
                });
            }
            function getDescarga(descarga) {
                $.get("/livefeed", "", function (data, status) {
                    descarga(data.descarga);
                });
            }
        </script>
        <% include partials/footer %>
</body>

</html>