<!DOCTYPE html>
<html lang="en-us" ng-app="app">

<head>
    <% include partials/head %>
</head>

<body class="">
    <% include partials/header %>
        <div id="main" role="main">

            <!-- RIBBON -->
            <div id="ribbon">

                <!-- breadcrumb -->
                <ol class="breadcrumb">
                    <li>Configuração</li>
                    <li>Parâmetros</li>
                </ol>
            </div>
            <div id="content">
                <div class="row">
                    <article class="col-sm-12 col-md-12 col-lg-12">

                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false">
                            <header>
                                <span class="widget-icon"><i class="fa fa-edit"></i></span>
                                <h2>Parâmetros </h2>

                            </header>

                            <!-- widget div-->
                            <div>

                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->

                                <!-- widget content -->
                                <div class="widget-body">

                                    <form id="smart-form-register" class="smart-form">
                                        <ng-view></ng-view>
                                    </form>

                                </div>
                                <!-- end widget content -->

                            </div>
                            <!-- end widget div -->

                        </div>
                        <!-- end widget -->
                    </article>

                </div>
                <script type="text/ng-template" id="/parametro.html">
                    <section>
                        <div class="widget-body no-padding">
                            <form name="form1" ng-disabled="acessoUsuario != 'administrador'">
                                <header>
                                    Cadastro de parâmetros
                                </header>
                                <div class="row" style="padding-left: 20px;padding-right: 20px;padding-top: 20px;">
                                    <section class="col-sm-6 col-md-6 col-lg-6">
                                        <fieldset>
                                            <section>
                                                <label class="label">Duty mín.</label>
                                                <label class="input">
                                                <input type="text" name="duty_min" placeholder="Duty mín." ng-model="parameter.duty_min" ng-disabled="acessoUsuario != 'administrador'">
                                                <b class="tooltip tooltip-bottom-right">Duty mín.</b> </label>
                                            </section>
                                            <section>
                                                <label class="label">Duty máx.</label>
                                                <label class="input">
                                                <input type="text" name="duty_max" placeholder="Duty máx." ng-model="parameter.duty_max" ng-disabled="acessoUsuario != 'administrador'">
                                                <b class="tooltip tooltip-bottom-right">Duty máx.</b> </label>
                                            </section>
                                            <section>
                                                <label class="label">Delay entre Leituras do Banco (ms)</label>
                                                <label class="input">
                                                <input type="text" name="Delay" placeholder="Delay entre Leituras do banco (ms)" ng-model="parameter.delay" ng-disabled="acessoUsuario != 
'administrador'">
                                                <b class="tooltip tooltip-bottom-right">Delay entre Leituras do banco (ms)</b> </label>
                                            </section>
                                        </fieldset>
                                    </section>
                                    <section class="col-sm-6 col-md-6 col-lg-6">
                                        <fieldset>
                                            <section>
                                                <label class="label">Quantidade de Leitura Impedancia</label>
                                                <label class="input">
                                                <input type="text" name="num_cycles_var_read" placeholder="Quantidade de Leitura Impedancia " ng-model="parameter.num_cycles_var_read" 
ng-disabled="acessoUsuario != 'administrador'">
                                                <b class="tooltip tooltip-bottom-right">Quantidade de Leitura de impedância</b> </label>
                                            </section>
                                            <section>
                                                <label class="label">Quantidade de Escrita em Gráfico</label>
                                                <label class="input">
                                                <input type="text" name="save_log_time" placeholder="Intervalo para escrita em gráfico" ng-model="parameter.save_log_time" ng-disabled="acessoUsuario != 'administrador'">
                                                <b class="tooltip tooltip-bottom-right">Intervalo para escrita em gráfico</b> </label>
                                            </section>
                                        </fieldset>
                                    </section>
                                </div>
                                <div class="row" style="padding-left: 20px;padding-right: 20px;padding-bottom: 20px;">
                                    <section class="col-sm-6 col-md-6 col-lg-6">
                                        <fieldset>
                                            <section>
                                                <label class="label">Delay entre Leitura de Baterias (ms)</label>
                                                <label class="input">
                                                <input type="text" name="param1" placeholder="Param. 1" ng-model="parameter.param1" ng-disabled="acessoUsuario != 'administrador'">
                                                <b class="tooltip tooltip-bottom-right">Param. 1</b> </label>
                                            </section>
                                            <section>
                                                <label class="label">Timeout de Erro Leituras (seg)</label>
                                                <label class="input">
                                                <input type="text" name="param2" placeholder="Param. 2" ng-model="parameter.param2" ng-disabled="acessoUsuario != 'administrador'">
                                                <b class="tooltip tooltip-bottom-right">Param. 2</b> </label>
                                            </section>
                                            <section>
                                                <label class="label">Quantidade de Tentativas de Timeout</label>
                                                <label class="input">
                                                <input type="text" name="param3" placeholder="Param. 3" ng-model="parameter.param3" ng-disabled="acessoUsuario != 'administrador'">
                                                <b class="tooltip tooltip-bottom-right">Param. 3</b> </label>
                                            </section>
                                            <section>
                                                <label class="label">Param. 4</label>
                                                <label class="input">
                                                <input type="text" name="param1" placeholder="Param. 4" ng-model="parameter.param4" ng-disabled="acessoUsuario != 'administrador'">
                                                <b class="tooltip tooltip-bottom-right">Param. 4</b> </label>
                                            </section>
                                            <section>
                                                <label class="label">Param. 5</label>
                                                <label class="input">
                                                <input type="text" name="param5" placeholder="Param. 5" ng-model="parameter.param5" ng-disabled="acessoUsuario != 'administrador'">
                                                <b class="tooltip tooltip-bottom-right">Param. 5</b> </label>
                                            </section>
                                        </fieldset>
                                    </section>
                                    <section class="col-sm-6 col-md-6 col-lg-6">
                                        <fieldset>
                                            <section>
                                                <label class="label">Param. 6</label>
                                                <label class="input">
                                                <input type="text" name="param6" placeholder="Param. 6" ng-model="parameter.param6" ng-disabled="acessoUsuario != 'administrador'">
                                                <b class="tooltip tooltip-bottom-right">Param. 6</b> </label>
                                            </section>
                                            <section>
                                                <label class="label">Param. 7</label>
                                                <label class="input">
                                                <input type="text" name="param7" placeholder="Param. 7" ng-model="parameter.param7" ng-disabled="acessoUsuario != 'administrador'">
                                                <b class="tooltip tooltip-bottom-right">Param. 7</b> </label>
                                            </section>
                                            <section>
                                                <label class="label">Param. 8</label>
                                                <label class="input">
                                                <input type="text" name="param8" placeholder="Param. 8" ng-model="parameter.param8" ng-disabled="acessoUsuario != 'administrador'">
                                                <b class="tooltip tooltip-bottom-right">Param. 8</b> </label>
                                            </section>
                                            <section>
                                                <label class="label">Param. 9</label>
                                                <label class="input">
                                                <input type="text" name="param9" placeholder="Param. 9" ng-model="parameter.param9" ng-disabled="acessoUsuario != 'administrador'">
                                                <b class="tooltip tooltip-bottom-right">Param. 9</b> </label>
                                            </section>
                                            <section>
                                                <label class="label">Param. 10</label>
                                                <label class="input">
                                                <input type="text" name="param10" placeholder="Param. 10" ng-model="parameter.param10" ng-disabled="acessoUsuario != 'administrador'">
                                                <b class="tooltip tooltip-bottom-right">Param. 10</b> </label>
                                            </section>
                                        </fieldset>
                                    </section>
                                    </div>
                                    <button id="btnGravarDb" class="btn btn-primary" ng-disabled="acessoUsuario != 'administrador'" ng-click="saveParameter();"
                                        style="float: right; width:100px; height:30px; margin-right:15px; margin-bottom: 15px;">Aplicar</button>
                                    <button id="btnReiniciar" class="btn btn-primary" ng-disabled="acessoUsuario != 'administrador'" onclick="reboot();"
                                        style="float: right; width:100px; height:30px; margin-right:15px; margin-bottom: 15px;">Reiniciar</button>
                                    <button id="btnDesigarSNMP" class="btn btn-danger" ng-disabled="acessoUsuario != 'administrador'" onclick="offSNMP();"
                                        style="float: right; width:100px; height:30px; margin-right:15px; margin-bottom: 15px;">Desligar SNMP</button>
                                    <button id="btnLigarSNMP" class="btn btn-success" ng-disabled="acessoUsuario != 'administrador'" onclick="onSNMP();"
                                        style="float: right; width:100px; height:30px; margin-right:15px; margin-bottom: 15px;">Ligar SNMP</button>
                            </form>
                        </div>
                    </section>
                    </fieldset>
                </script>
                <script>
                    angular.module('app', ['ngRoute', 'ngResource'])
                        //---------------
                        // Services
                        //---------------
                        .factory('Parameter', ['$resource', function ($resource) {
                            return $resource('/parameter/:id', null, {
                                'update': { method: 'PUT' }
                            });
                        }])
                        //---------------
                        // Controllers
                        //---------------
                        .controller('ParameterController', ['$scope', 'Parameter', function ($scope,Parameter) {
                            $scope.parameter = Parameter.get();
                            $scope.saveParameter = function () {
                                var parameter  = $scope.parameter;
                                Parameter.update(parameter);
                                $.bigBox({
                                    title: "Informações sobre parâmetros",
                                    content: "Dados salvos com sucesso!",
                                    color: "#275B89",
                                    timeout: 5000,
                                    icon: "fa fa-check fadeInLeft animated"
                                });
                            }
                            $scope.nomeUsuario = '<%= username %>';
                            $scope.acessoUsuario = '<%= userAccess %>';
                            $scope.emailUsuario = '<%= userEmail %>';
                        }])
                        //---------------
                        // Routes
                        //---------------
                        .config(['$routeProvider', function ($routeProvider) {
                            $routeProvider
                                .when('/', {
                                    templateUrl: '/parametro.html',
                                    controller: 'ParameterController'
                                })
                        }]);
                </script>

            </div>
            <!-- END MAIN CONTENT -->

        </div>
        <script>
            function reboot(){
                $.get("/parameterview/reboot", null, function (data) {
                        $.bigBox({
                            title: "Parâmetros",
                            content: data,
                            color: "#659265",
                            timeout: 1000,
                            icon: "fa fa-check fadeInLeft animated"
                        });
                    });
            }
            function onSNMP(){
                $.get("/parameterview/onSNMP", null, function (data) {
                        $.bigBox({
                            title: "Parâmetros",
                            content: data,
                            color: "#659265",
                            timeout: 1000,
                            icon: "fa fa-check fadeInLeft animated"
                        });
                    });
            }
            function offSNMP(){
                $.get("/parameterview/offSNMP", null, function (data) {
                        $.bigBox({
                            title: "Parâmetros",
                            content: data,
                            color: "#659265",
                            timeout: 1000,
                            icon: "fa fa-check fadeInLeft animated"
                        });
                    });
            }
        </script>
        <% include partials/footer %>
</body>

</html>
