<!DOCTYPE html>
<html ng-app="app">

<head>
    <% include partials/head %>
</head>

<body class="">
    <% include partials/header %>
        <div id="main" role="main">

            <!-- RIBBON -->
            <div id="ribbon">

                <!-- breadcrumb -->
                <ol class="breadcrumb">
                    <li>Configuração</li>
                    <li>SNMP</li>
                </ol>
            </div>
            <div id="content">
                <div class="row">
                    <article class="col-sm-12 col-md-12 col-lg-12">

                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false">
                            <header>
                                <span class="widget-icon"><i class="fa fa-edit"></i></span>
                                <h2>SNMP</h2>

                            </header>

                            <!-- widget div-->
                            <div>

                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->

                                <!-- widget content -->
                                <div class="widget-body">

                                    <form id="smart-form-register" class="smart-form">
                                        <ng-view></ng-view>
                                    </form>

                                </div>
                                <!-- end widget content -->

                            </div>
                            <!-- end widget div -->

                        </div>
                        <!-- end widget -->
                    </article>

                </div>
                <script type="text/ng-template" id="/snmpconfig.html">
                    <header>
                        Configurações de SNMP
                    </header>
                    <div class="input-group-text">
                        <input type="checkbox" id="refreshButton" ng-model="snmpconfig.is_on" ng-click=""><p>Habilitar Agente</p>
                    </div>

                    <section>
                        <div class="widget-body no-padding">
                            <form name="form2">
                                <div class="row" style="padding: 20px;">
                                    <section class="col-sm-3 col-md-3 col-lg-3">
                                        <fieldset>
                                            <section>
                                                <label class="label"> Versão SNMP</label>
                                                <label class="select">
                                                        <select name="version" id="version" ng-model="snmpconfig.version" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local'" >
                                                                <option value="0" ng-selected="selected">v1/v2</option>
                                                                <option value="1">v3</option>
                                                            </select>
                                                            <i></i>
                                                </label>
                                            </section>
                                            <section>
                                                <label class="label"> SNMP v3: Usuário</label>
                                                <input type="text" ng-model="snmpconfig.user" 
                                                    name="user" placeholder="Usuário" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local' || snmpconfig.version != 1" required>
                                            </section>
                                            <section>
                                                <label class="label">SNMP v3: Senha</label>
                                                <input type="password" ng-model="snmpconfig.pass" name="Password" placeholder="Senha" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local' || snmpconfig.version != 1" required>
                                            </section>
                                            <section>
                                                <label class="label">SNMP v3: Autenticação</label>
                                                <select name="auth" id="auth" ng-model="snmpconfig.auth" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local' || snmpconfig.version != 1" required>
                                                    <option value="0" ng-selected="selected">NoAuth NoPriv</option>
                                                    <option value="1">Auth NoPriv</option>
                                                    <option value="2">Auth Priv</option>
                                                </select>
                                                <i></i>
                                            </section>
                                            <section>
                                                <label class="label">Periodo de Envio (Trap)</label>
                                                <label class="input">
                                                <input type="text" name="param6" placeholder="Timeout" ng-model="snmpconfig.param6" <%if (userAccess != 'administrador') {%>  disabled  <%}%>>
                                                <b class="tooltip tooltip-bottom-right">Param. 6</b> </label>
                                            </section>
                                            <section>
                                                <label class="label">Periodo de Atualização (Trap)</label>
                                                <label class="input">
                                                <input type="text" name="param7" placeholder="Timeout" ng-model="snmpconfig.param7" <%if (userAccess != 'administrador') {%>  disabled  <%}%>>
                                                <b class="tooltip tooltip-bottom-right">Param. 7</b> </label>
                                            </section>
                                            <section>
                                                <label class="label">Porta (Trap)</label>
                                                <label class="input">
                                                <input type="text" name="param5" placeholder="Param. 5" ng-model="snmpconfig.param5" <%if (userAccess != 'administrador') {%>  disabled  <%}%>>
                                                <b class="tooltip tooltip-bottom-right">Porta</b> </label>
                                            </section>
                                        </fieldset>
                                    </section>
                                    <section class="col-sm-4 col-md-4 col-lg-4">
                                        <fieldset>
                                            <section>
                                                <label class="label">SNMP Communities</label>
                                                <table class="table table-striped table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <td></td>
                                                            <td>Endereço</td>
                                                            <td>Community</td>
                                                            <td>Permissão</td>
                                                        </tr>
                                                        </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" name="comm0addr" id="comm0addr" ng-model="snmpconfig.comm[0].addr" placeholder="0.0.0.0" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local' || snmpconfig.version == 1">
                                                                    <b class="tooltip tooltip-bottom-right">Address</b>
                                                                </label>
                                                            </td>

                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" name="comm0comm" id="comm0comm" ng-model="snmpconfig.comm[0].comm" placeholder="" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local' || snmpconfig.version == 1">
                                                                    <b class="tooltip tooltip-bottom-right"> Community</b>
                                                                </label>
                                                            </td>

                                                            <td>
                                                                <select name="perm0" id="perm0" ng-model="snmpconfig.comm[0].perm" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local' || snmpconfig.version == 1">
                                                                    <option value="0" ng-selected="selected">Read Only</option>
                                                                    <option value="1">Read/Write</option>
                                                                </select>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>2</td>
                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" name="comm1addr" id="comm1addr" ng-model="snmpconfig.comm[1].addr" placeholder="0.0.0.0" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local' || snmpconfig.version == 1">
                                                                    <b class="tooltip tooltip-bottom-right">Address</b>
                                                                </label>
                                                            </td>

                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" name="comm1comm" id="comm1comm" ng-model="snmpconfig.comm[1].comm" placeholder="" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local' || snmpconfig.version == 1">
                                                                    <b class="tooltip tooltip-bottom-right"> Community</b>
                                                                </label>
                                                            </td>

                                                            <td>
                                                                <select name="perm1" id="perm1" ng-model="snmpconfig.comm[1].perm" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local' || snmpconfig.version == 1">
                                                                    <option value="0" ng-selected="selected">Read Only</option>
                                                                    <option value="1">Read/Write</option>
                                                                </select>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>3</td>
                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" name="comm2addr" id="comm2addr" ng-model="snmpconfig.comm[2].addr" placeholder="0.0.0.0" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local' || snmpconfig.version == 1">
                                                                    <b class="tooltip tooltip-bottom-right">Address</b>
                                                                </label>
                                                            </td>

                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" name="comm2comm" id="comm2comm" ng-model="snmpconfig.comm[2].comm" placeholder="" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local' || snmpconfig.version == 1">
                                                                    <b class="tooltip tooltip-bottom-right"> Community</b>
                                                                </label>
                                                            </td>

                                                            <td>
                                                                <select name="perm2" id="perm2" ng-model="snmpconfig.comm[2].perm" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local' || snmpconfig.version == 1">
                                                                    <option value="0" ng-selected="selected">Read Only</option>
                                                                    <option value="1">Read/Write</option>
                                                                </select>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>4</td>
                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" name="comm3addr" id="comm3addr" ng-model="snmpconfig.comm[3].addr" placeholder="0.0.0.0" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local' || snmpconfig.version == 1">
                                                                    <b class="tooltip tooltip-bottom-right">Address</b>
                                                                </label>
                                                            </td>

                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" name="comm3comm" id="comm3comm" ng-model="snmpconfig.comm[3].comm" placeholder="" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local' || snmpconfig.version == 1">
                                                                    <b class="tooltip tooltip-bottom-right"> Community</b>
                                                                </label>
                                                            </td>

                                                            <td>
                                                                <select name="perm3" id="perm3" ng-model="snmpconfig.comm[3].perm" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local' || snmpconfig.version == 1">
                                                                    <option value="0" ng-selected="selected">Read Only</option>
                                                                    <option value="1">Read/Write</option>
                                                                </select>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>5</td>
                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" name="comm4addr" id="comm4addr" ng-model="snmpconfig.comm[4].addr" placeholder="0.0.0.0" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local' || snmpconfig.version == 1">
                                                                    <b class="tooltip tooltip-bottom-right">Address</b>
                                                                </label>
                                                            </td>

                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" name="comm4comm" id="comm4comm" ng-model="snmpconfig.comm[4].comm" placeholder="" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local' || snmpconfig.version == 1">
                                                                    <b class="tooltip tooltip-bottom-right"> Community</b>
                                                                </label>
                                                            </td>

                                                            <td>
                                                                <select name="perm4" id="perm4" ng-model="snmpconfig.comm[4].perm" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local' || snmpconfig.version == 1">
                                                                    <option value="0" ng-selected="selected">Read Only</option>
                                                                    <option value="1">Read/Write</option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </section>
                                        </fieldset>
                                    </section>
                                    
                                    <section class="col-sm-4 col-md-4 col-lg-4">
                                        <fieldset>
                                            <section>
                                                <label class="label">SNMP Traps</label>
                                                <table class="table table-striped table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <td></td>
                                                            <td>Endereço</td>
                                                            <td>Community</td>
                                                        </tr>
                                                        </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" name="comm0addr" id="comm0addr" ng-model="snmpconfig.traps[0].addr" placeholder="0.0.0.0" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local' || snmpconfig.version == 1">
                                                                    <b class="tooltip tooltip-bottom-right">Address</b>
                                                                </label>
                                                            </td>

                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" name="comm0comm" id="comm0comm" ng-model="snmpconfig.traps[0].comm" placeholder="" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local' || snmpconfig.version == 1">
                                                                    <b class="tooltip tooltip-bottom-right"> Community</b>
                                                                </label>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>2</td>
                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" name="comm1addr" id="comm1addr" ng-model="snmpconfig.traps[1].addr" placeholder="0.0.0.0" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local' || snmpconfig.version == 1">
                                                                    <b class="tooltip tooltip-bottom-right">Address</b>
                                                                </label>
                                                            </td>

                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" name="comm1comm" id="comm1comm"  ng-model="snmpconfig.traps[1].comm" placeholder="" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local' || snmpconfig.version == 1">
                                                                    <b class="tooltip tooltip-bottom-right"> Community</b>
                                                                </label>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>3</td>
                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" name="comm2addr" id="comm2addr" ng-model="snmpconfig.traps[2].addr" placeholder="0.0.0.0" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local' || snmpconfig.version == 1">
                                                                    <b class="tooltip tooltip-bottom-right">Address</b>
                                                                </label>
                                                            </td>

                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" name="comm2comm" id="comm2comm" ng-model="snmpconfig.traps[2].comm" placeholder="" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local' || snmpconfig.version == 1">
                                                                    <b class="tooltip tooltip-bottom-right"> Community</b>
                                                                </label>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>4</td>
                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" name="comm3addr" id="comm3addr" ng-model="snmpconfig.traps[3].addr" placeholder="0.0.0.0" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local' || snmpconfig.version == 1">
                                                                    <b class="tooltip tooltip-bottom-right">Address</b>
                                                                </label>
                                                            </td>

                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" name="comm3comm" id="comm3comm" ng-model="snmpconfig.traps[3].comm" placeholder="" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local' || snmpconfig.version == 1">
                                                                    <b class="tooltip tooltip-bottom-right"> Community</b>
                                                                </label>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>5</td>
                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" name="comm4addr" id="comm4addr" ng-model="snmpconfig.traps[4].addr" placeholder="0.0.0.0" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local' || snmpconfig.version == 1">
                                                                    <b class="tooltip tooltip-bottom-right">Address</b>
                                                                </label>
                                                            </td>

                                                            <td>
                                                                <label class="input">
                                                                    <input type="text" name="comm4comm" id="comm4comm" ng-model="snmpconfig.traps[4].comm" placeholder="" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local' || snmpconfig.version == 1">
                                                                    <b class="tooltip tooltip-bottom-right"> Community</b>
                                                                </label>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </section>
                                        </fieldset>
                                    </section>

                                </div>
                                <footer>
                                    <button id="btnApply" class="btn btn-primary" ng-disabled="acessoUsuario != 'administrador' && acessoUsuario != 'local'" ng-click="applyConfiguration();">Aplicar</button>
                                </footer>
                            </form>
                        </div>
                    </section>

                </script>

                <script>
                    angular.module('app', ['ngRoute', 'ngResource'])
                        //---------------
                        // Services
                        //---------------
                        .factory('SnmpConfig', ['$resource', function ($resource) {
                            return $resource('/snmpconfig/:id', null, {
                                'update': { method: 'PUT' },
                                'remove': { method: 'DELETE' }
                            });
                        }])
                        //---------------
                        // Controllers
                        //---------------
                        .controller('SnmpController', ['$scope', 'SnmpConfig', function ($scope, SnmpConfig) {
                            $scope.oldsnmpconfig = SnmpConfig.get();
                            $scope.snmpconfig = $scope.oldsnmpconfig;
                            $scope.nomeUsuario = '<%= username %>';
                            $scope.acessoUsuario = '<%= userAccess %>';
                            $scope.emailUsuario = '<%= userEmail %>';
                            
                            $scope.applyConfiguration = function(){
                                var args = $scope.snmpconfig;
                                var old = $scope.oldsnmpconfig;
                                data = [args, old];
                                SnmpConfig.update(data);
                                $.bigBox({
                                    title: "Informações SNMP",
                                    content: "Dados salvos com sucesso!",
                                    color: "#275B89",
                                    timeout: 5000,
                                    icon: "fa fa-check fadeInLeft animated"
                                });
                            };

                        }])
                        //---------------
                        // Routes
                        //---------------
                        .config(['$routeProvider', function ($routeProvider) {
                            $routeProvider
                                .when('/', {
                                    templateUrl: '/snmpconfig.html',
                                    controller: 'SnmpController'
                                })
                        }]);
                </script>

            </div>
            <!-- END MAIN CONTENT -->

        </div>

        <!-- /.modal -->
        <script>
            $(document).ready(function () {
                
            });
        </script>
        <% include partials/footer %>
</body>

</html>
