<!DOCTYPE html>
<html ng-app="app">

<head>
    <% include partials/head %>
</head>

<body class="">
    <% include partials/header %>
        <div id="main" role="main">

            <div id="ribbon">
                <ol class="breadcrumb">
                    <li>Configuração</li>
                    <li>TimeServer</li>
                </ol>
            </div>
            <div id="content">
                <div class="row">
                    <article class="col-sm-12 col-md-12 col-lg-12">

                        <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false">
                            <header>
                                <span class="widget-icon"><i class="fa fa-edit"></i></span>
                                <h2>Configuração de TimeServer </h2>
                            </header>
                            <div>
                                <div class="jarviswidget-editbox">
                                </div>
                                <div class="widget-body no-padding">
                                    <form id="smart-form-register" class="smart-form">

                                        <ng-view></ng-view>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </article>

                </div>
                <div class="row">
                    <article class="col-sm-12 col-md-12 col-lg-12">

                        <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false">
                            <header>
                                <span class="widget-icon"><i class="fa fa-edit"></i></span>
                                <h2>Configuração de TimeServer </h2>
                            </header>
                            <div>
                                <div class="jarviswidget-editbox">
                                </div>
                                <div class="widget-body no-padding">
                                    <form id="smart-form-register" class="smart-form">

                                        <fieldset>
                                            <section class="col-sm-12 col-md-12 col-lg-12">
                                                <section class="col-sm-3 col-md-3 col-lg-2" style="margin-top: 5px;">
                                                    <label class="label">Data/Hora</label>
                                                </section>
                                                <section class="col-sm-3 col-md-3 col-lg-3">
                                                    <label class="input"> <i class="icon-append fa fa-calendar"></i>
            <input type="text" name="request" id="txtDate" readonly placeholder="Selecione a data" required class="datepicker" data-dateformat='dd/mm/yy'<%if (userAccess != 'administrador') {%>  disabled  <%}%>>
           </label>
                                                </section>
                                                <section class="col-sm-3 col-md-3 col-lg-3">
                                                    <div class="form-group" style="margin-left:20px;">
                                                        <div class="input-group">
                                                            <input readonly class="form-control" required id="clockpicker" type="text" placeholder="Hora" data-autoclose="true">
                                                            <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                                        </div>
                                                    </div>
                                                </section>
                                            </section>
                                            <button id="btnSetDateTimeManually" onclick="setManualTime();" class="btn btn-primary pull-right" style="width: 100px; height: 30px;"
                                                <%if (userAccess !='administrador') {%>  disabled  <%}%>>
          Definir
         </button>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </article>

                </div>
                <script type="text/ng-template" id="/timeserver.html">
                    <fieldset>
                        <section class="col-sm-12 col-md-12 col-lg-12">
                            <fieldset>
                                <section>
                                    <section class="col-sm-7 col-md-7 col-lg-7">
                                        <label class="input">
         <label class="label">Data/hora atual do sistema</label>
                                        <input type="text" id="txtSystemTime" value="{{serverDate | date:'dd/MM/yyyy HH:mm:ss'}}" placeholder="Data/hora atual do sistema"
                                            readonly>
                                        <b class="tooltip tooltip-bottom-right">Data/hora atual do sistema</b>
                                        </label>
                                    </section>
                                </section>
                                <section class="col-sm-12 col-md-12 col-lg-12">
                                    <section class="col-sm-3 col-md-3 col-lg-2" style="margin-top: 5px;">
                                        <label class="label">Endereço Time Server</label>
                                    </section>
                                    <section class="col-sm-4 col-md-4 col-lg-3">
                                        <label class="input">
         <input type="text" ng-model="timeserver[0].timeServerAddress1" id="txtServer1" ng-disabled="acessoUsuario != 'administrador'" placeholder="Endereço Time Server" style="margin-right: 5px;">
         <b class="tooltip tooltip-bottom-right">Endereço Time Server</b>
        </label>
                                    </section>
                                    <section class="col-sm-4 col-md-4 col-lg-2">
                                        <label class="input">
         <input type="text" ng-model="timeserver[0].timeServerAddress1_complemento" ng-disabled="acessoUsuario != 'administrador'" placeholder="Endereço Time Server"  style="margin-left: 5px;display:none;">
         <b class="tooltip tooltip-bottom-right">Endereço Time Server</b>
        </label>
                                    </section>
                                    <section class="col-sm-4 col-md-3 col-lg-2">
                                        <input type="button" value="Testar" class="btn btn-primary" onclick="testServer(1);" ng-disabled="acessoUsuario != 'administrador'"
                                            style="margin-left: 20px;width: 100px; height: 32px;" />
                                    </section>
                                </section>
                            <button ng-click="update()" class="btn btn-primary pull-right" ng-disabled="acessoUsuario != 'administrador'" style="width: 100px; height: 30px;">
      Salvar
     </button>
                        </section>
                    </fieldset>

                </script>
                <script>
                    angular.module('app', ['ngRoute', 'ngResource'])
                        //---------------
                        // Services
                        //---------------
                        .factory('TimeServer', ['$resource', function ($resource) {
                            return $resource('/timeserver/:id', null, {
                                'update': { method: 'PUT' }
                            });
                        }])
                        //---------------
                        // Controllers
                        //---------------
                        .controller('TimeServerController', ['$scope', 'TimeServer', function ($scope, TimeServer) {
                            $scope.serverDate = new Date('<%= serverDate %>');
                            $scope.timeserver = TimeServer.query();
                            $scope.update = function () {
                                var timeserver = $scope.timeserver[0];
                                TimeServer.update(timeserver);
                                $.bigBox({
                                    title: "TimeServer",
                                    content: "Dados salvos com sucesso!",
                                    color: "#275B89",
                                    timeout: 5000,
                                    icon: "fa fa-check fadeInLeft animated",
                                    number: timeserver._id
                                });
                                //setTime(); A hora do servido SNTP nao e feita aqui, mas no boot
                            }
                            $scope.nomeUsuario = '<%= username %>';
                            $scope.acessoUsuario = '<%= userAccess %>';
                            $scope.emailUsuario = '<%= userEmail %>';
                        }])
                        //---------------
                        // Routes
                        //---------------
                        .config(['$routeProvider', function ($routeProvider) {
                            $routeProvider
                                .when('/', {
                                    templateUrl: '/timeserver.html',
                                    controller: 'TimeServerController'
                                })
                        }]);
                </script>

            </div>
            <!-- END MAIN CONTENT -->

        </div>
        <script>
            function testServer(sequencia) {
                $.get("/ntpconfig/test/" + $("#txtServer" + sequencia).val(), null, function (data, status) {
                    $.bigBox({
                        title: "TimeServer",
                        content: data,
                        color: "#275B89",
                        timeout: 5000,
                        icon: "fa fa-check fadeInLeft animated"
                    });
                });
            }
            function setTime() {
                $.get("/ntpconfig/", null, function (data, status) {
                    $.bigBox({
                        title: "TimeServer",
                        content: data,
                        color: "#275B89",
                        timeout: 5000,
                        icon: "fa fa-check fadeInLeft animated"
                    });
                });
            }
            function setManualTime() {
                if ($("#txtDate").val().trim() == "" || $("#clockpicker").val().trim() == "") {
                    $.bigBox({
                        title: "TimeServer",
                        content: "Preencha os valores de data e hora",
                        color: "#275B89",
                        timeout: 5000,
                        icon: "fa fa-check fadeInLeft animated"
                    });
                    return;
                }
                $.get("/ntpconfig/manual/" + $("#txtDate").val().replace("/", "-").replace("/", "-").replace("/", "-") + " " + $("#clockpicker").val(), null, function (data, status) {
                    $.bigBox({
                        title: "TimeServer",
                        content: data,
                        color: "#275B89",
                        timeout: 5000,
                        icon: "fa fa-check fadeInLeft animated"
                    });
                });
            }
            $(document).ready(function () {
                $('#clockpicker').clockpicker({
                    placement: 'top',
                    donetext: 'Done'
                });
            });
        </script>
        <% include partials/footer %>
</body>

</html>
